@{
    ViewData["Title"] = "Регистрация";
}
<h2>Регистрация</h2>
<form asp-controller="Account" asp-action="Register" method="post">
    <input type="text" name="fullName" placeholder="ФИО" class="form-control" required />
    <input type="email" name="email" placeholder="Email" class="form-control" required />
    <input type="password" name="password" placeholder="Пароль" class="form-control" required />
    <button type="submit" class="btn btn-primary mt-2">Зарегистрироваться</button>
</form>

<p>Уже есть аккаунт? <a asp-controller="Account" asp-action="Login">Войти</a></p>

